#link-navbar{
    background-color: white;
    padding: 10px;
    border-radius: 20px;
}
#link-navbar #person-icon{
    margin-left: 10px;
}
#link-navbar a{
    text-decoration: none;
    color: black;
}
#link-navbar img{
    width: 20px;
}
@media(max-width:630px){
    #link-navbar span{
        display: none;
    }
}


main #offers-div{
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    grid-template-rows: repeat(1 , 1fr);
    background-color: #f1f1f1;
    gap: 10px;
    padding: 10px;
}
main #offers-div div{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    grid-template-rows: 30px repeat(2 , 1fr);
    background-color: white;
    padding: 10px;
    gap: 10px;
}
main #offers-div #div-3{
    grid-template-columns: 1fr;
}
main #offers-div div .h5{
    grid-column: 1/3;
}
main #offers-div div img{
    width: 100%;
}

@media(max-width:700px){
    main #offers-div div h5{
        font-size: 80%;
    }
}
@media(max-width:700px){
    main #offers-div div h5{
        font-size: 60%;
    }
}

#slider{
    background-color: #f1f1f1;
    width: 100%;
    height: 50px;
    padding-top: 10px;
    overflow: hidden;
}
#slider ul{
    padding: 0px 10px;
    width: calc(154%);
    position: relative;
    transition: 0.5s;
}
#slider ul li{
    width: calc(100% / 12);
    background-color: rgb(255, 255, 255);
    height: 40px;
    list-style: none;
    float: right;
    text-align: center;
    font-weight: bold;
    color: black;
    margin: 2px;
    padding-top: 5px;
}
@media(max-width:760px){
    #slider ul li{
        padding-top: 10px;
        font-size: 13px;
    }
}
@media(max-width:600px){
    #slider ul li{
        padding-top: 5px;
        font-size: 10px;
    }
}


#but-slider{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;    
    padding: 5px 20px;
}
#but-slider button{
    background-color: rgba(0, 0, 0, 0.26);
    border: none;
    border-radius: 50%;   
    z-index: 1;
}

#but-slider button:hover{
    background-color: yellow;
}


section{
    background-color: #f1f1f1;
}
section ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0px;
    margin: 0px;
}
section .div-name-section{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    grid-column: 1/6;
}
section div h3::before{
    content: "";
    width: 10px;
    height: 30px;
    background-color: rgb(0, 0, 0);
    position: absolute;
    right: 20px;
}
section div a{
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    border: solid 2px black;
    transition: 0.5s;
}
section div a:hover{
    border: solid rgb(0, 0, 0) 2px;
    background-color: rgb(0, 0, 0);
    color: white;
}
section ul li{
    list-style: none;
    margin: 5px;
}
.div-card{
    background-color: rgb(255, 255, 255);
    width: 200px;
    padding: 10px;
}
.div-card img{
    width: 180px;
    margin-bottom: 20px;
}

.div-card .div-card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.div-card .div-card-body h5{
    text-align: center;
}
.div-card .div-card-body span{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.div-card .div-card-body span div img{
    width: 12px;
    transform: translateY(6px);
}
.div-card .div-card-body span p{
    font-weight: bold;
}
#main-cards .img-off-main{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 10px;
}
#main-cards .img-off-main img{
    width: 50%;
}


.main-signin{
    background-color: #f0f0f0;
    width: 100%;
    height: 90vh;
}
.main-signin form{
    background-color: white;
    width: 350px;
    height: 430px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -40%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 30px;
    padding-top: 60px;    
    box-shadow: 2px 2px 5px #ccc;
    border-radius: 10px;
}
.main-signin form h2{
    text-align: center;
}
.main-signin form input{
    height: 30px;
    border: none;
    background-color: #f0f0f0;
    text-align: center;
}
.main-signin form input:focus{
    outline: solid yellow 2px;
}
.main-signin form #div-a{
    display: flex;
    justify-content: space-between;
}
.main-signin form #div-img{
    background-color: #f0f0f0;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: absolute;
    top: -35px;
    left: 140px;
    border: solid 5px white;
    box-sizing: content-box;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-signin form #div-img img{
    width: 50px;
}